name: Test Reporter
on:
  workflow_run:
    workflows: [ "CI" ]
    types:
      - completed
permissions: {}
jobs:
  report:
    permissions:
      actions: read
      checks: write
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion != 'cancelled' }}
    steps:
      - name: Download Test Results
        uses: actions/download-artifact@v4
        with:
          pattern: test-results-*
          merge-multiple: true
          github-token: ${{ github.token }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        with:
          name: Test Results
          path: "**/TEST-*.xml"
          reporter: java-junit
